html {
   background: url('images/studio4a.jpg') no-repeat center center fixed;
   background-size: cover;
   height: 100%;
   overflow: hidden;
   overflow-y: scroll;
   overflow-x:hidden;
  }

body {
    /* position: absolute; */
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
menu {
     list-style-type: none;
     display: flex;
     justify-content: flex-end;
     padding-top: 4%;
     padding-right: 16%;
     margin-bottom: 0;
     gap: 3em;
}

i {
  /* color: #FF9234; */
  color: #FF9300;
  /* text-shadow: 1px 1px 2px #FF9300; */
  text-shadow: 2px 2px 4px grey;
  font-size: 1.9em;
}

a {
  /* color: #FF9234; */
   color: #FF9300;
}

a:hover {
  font-size: 1.3em;
}

[data-title]:hover:after {
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: transparent;
  color: #FF9234;
  font-family: 'Source Serif Pro', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 0.8em;
  position: absolute;
  visibility: hidden;
  top: -2.6em;
  right: 5%;
}

[data-title] {
    position: relative;
}


footer {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px #7895B2;
}

.socialfooter {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.2em;
  padding-bottom: 3px;
  scale: 0.9;
}

#vibes {
  font-size: 1.2em;
  color: transparent;
  text-shadow: 0 0 0 #FF9300;
}

#init {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

h1{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Source Serif Pro', serif;
  font-style: italic;
  font-weight: 700;
}

h3 {
  margin-top: 0;
  font-family: 'Source Serif Pro', serif;
  font-style: italic;
  font-weight: 700;
}

#min {
  font-size: 1.5em;
  margin-left: 7px;
  margin-right: 7px;
}

#current {
  font-size: 1.1em;
}

h4 {
  font-family: 'Source Serif Pro', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.1em;
}



.pic {
  border-radius: 50%;
  width: 22%;
  float:left;
  margin-bottom: 26%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1%;
}

.pic2 {
  width: 20%;
  float:left;
  margin-right: 18%;
}

.about {
  margin-top: 3.5%;
  text-align: left;
  margin-left: 17%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.transbox {
  margin-top: 3%;
  margin-left: 37%;
  margin-bottom: 1%;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 43%;
}

#contact {
  margin-top: 5%;
  width:35%;
  padding-top: 2%;
}

.ornament1 {
  width: 15%;
  margin-left: 4%;
  padding: 0;
  margin-bottom: 0;
}

.ornament2 {
  width: 13%;
  margin-left: 8%;
  padding: 0;
}

.ornament3 {
  width: 13%;
  margin-left: 47%;
  padding: 0;
}

.follow {
  padding: 0;
  margin-top: 1%;
  margin-bottom: 5%;
  height: 50px;
  background-image: url('images/div.png');
  background-size: 35% 125%;
  background-position: center;
  background-repeat: no-repeat;
}


.testimonials {
  margin: 0% 0% 0% 3%;
  padding: 0%;
  display: inline-flex;
  justify-content: space-around;
}

.a, .b, .c {
  width: 22%;
  display: inline-block;
  position: relative;
  border-radius: 8%;
  background-color: rgb(255, 146, 52, 0.23);
  /* background-color: rgb(255, 147, 1, 0.2); */
  box-shadow: 5px 10px 18px #888888;
  padding-top: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 0%;
}


.pict {
  border-radius: 50%;
  width: 18%;
  float:left;
  margin-top: 2%;
  margin-right: 4%;
  margin-bottom: 3%;
}

.quote {
  padding-top: 0;
  margin-top: 0;
  text-align: right;
  font-family: serif;
  font-style: italic;
  font-weight: 600;
  /* font-size: 1em; */
}

/* TABLET VIEW */
@media only screen and (min-width: 601px) and (max-width:1000px) {

  menu {
    padding-left: 15%;
    margin-top: 5%;
    gap: 2.7em;
    justify-content:center;
  }

  i {
    font-size: 1.7em;
  }

   h1 {
     font-family: 'Source Serif Pro', serif;
     font-style: italic;
     font-weight: 700;
     font-size: 1.8em;
   }

   h3 {
     font-family: 'Source Serif Pro', serif;
     font-style: italic;
     font-weight: 600;
   }

   #mail {
     font-family: 'Source Serif Pro', serif;
     font-style: italic;
     font-weight: 700;
   }

   .about {
     margin-top: 11%;
     align-content: center;
     text-align: center;
     margin-right: auto;
     margin-left: auto;
   }

   #current {
     text-align: left;
     margin-left: 2%;
     font-weight: bold;
     font-size: 1em;
   }

   .pic {
     width: 28%;
     padding: 3%;
     margin-bottom: 3%;
     margin-left: 32%;
     margin-right: auto;
   }

   .pic2 {
     width: 24%;
     margin-bottom: 5%;
     margin-left: 36%;
     margin-right: auto;
   }

.ornament1, .ornament2, .ornament3 {
  visibility: collapse;
}

.testimonials {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.transbox {
  clear: both;
  width: auto;
  margin: 3% 20%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

#contact {
  clear: both;
  width: auto;
  margin-top: 5%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.a, .b, .c {
  width: auto;
  margin: 3% 20%;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 0%;
  font-size: 0.95em;
}

}


/* MOBILE VIEW */
@media only screen and (max-width: 600px) {

  menu {
    padding-top: 6.5%;
    padding-left: 17%;
    gap: 2.5em;
    justify-content:center;
  }

  i {
    font-size: 1.7em;
  }

   h1 {
     font-family: 'Source Serif Pro', serif;
     font-style: italic;
     font-weight: 700;
     font-size: 1.8em;
   }

   h3 {
     font-family: 'Source Serif Pro', serif;
     font-style: italic;
     font-weight: 600;
   }

   #mail {
     font-family: 'Source Serif Pro', serif;
     font-style: italic;
     font-weight: 700;
   }

   .about {
     margin-top: 20%;
     align-content: center;
     text-align: center;
     margin-right: auto;
     margin-left: auto;
   }

   #current {
     text-align: left;
     margin-left: 2%;
     font-weight: bold;
     font-size: 1em;
   }

   .pic {
     width: 45%;
     padding: 3.5%;
     margin-bottom: 7%;
     margin-left: 23.5%;
     margin-right: auto;
   }

   .pic2 {
     width: 35%;
     margin-bottom: 5%;
     margin-left: 31%;
     margin-right: auto;
   }

.ornament1, .ornament2, .ornament3 {
  visibility: collapse;
}

.testimonials {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.transbox {
  clear: both;
  width: auto;
  margin: 3%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

#contact {
  clear: both;
  width: auto;
  margin-top: 5%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.a, .b, .c {
  width: auto;
  margin: 3%;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 0%;
  border-radius: 6%;
  background-color: rgb(255, 146, 52, 0.2);
  font-size: 0.8em;
}

}
